$dotColor: rgb(80, 80, 80);
$blur: 1px;
.gooey {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 142px;
	height: 40px;
	margin: -20px 0 0 -71px;
	background: transparent;
	// filter: contrast(20);

	.dot {
		position: absolute;
		width: 16px;
		height: 16px;
		top: 12px;
		left: 15px;
		filter: blur($blur);
		background: $dotColor;
		border-radius: 9999px;
		transform: translateX(0);
		animation: dot 2s infinite;
	}

	.dots {
		transform: translateX(0);
		margin-top: 12px;
		margin-left: 31px;
		animation: dots 2s infinite;

		span {
			display: block;
			float: left;
			width: 16px;
			height: 16px;
			margin-left: 10px;
			filter: blur($blur);
			background: $dotColor;
			border-radius: 50%;
		}
	}
}

@keyframes dot {
	50% {
		transform: translateX(76px);
	}
}

@keyframes dots {
	50% {
		transform: translateX(-31px);
	}
}
